<section class='col-sm-6 col-lg-6 mx-auto p-4 shadow mb-5 bg-body rounded mt-4'>
  <article class="bg-secondary p-2 text-white rounded mb-4">
    <h2>Welcome to SupplyIt! Please login...</h2>
  </article>

  <% if alert = flash[:alert] %>
    <p class='text-info text-center mx-auto'><%= flash[:alert] %></p>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: "false"}) do |f| %>
    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3 form-check">
        <%= f.check_box :remember_me, class: 'form-check-input'%>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</section>