<details id='current-cart-details' data-controller='cart-details'
  class="table-responsive w-100" data-cart-details-open-class="open">
  <summary class='fw-bolder p-2 bg-dark text-white'
    data-action='click->cart-details#toggle'>
    Cart total: <%= price_format(cart.total_price) %>
  </summary>

  <% if cart.line_items.length != 0 && !@ordering %>
    <section id='cart-actions' class='d-flex justify-content-between p-3'>
      <button
        type="button"
        class="border-0 text-decoration-underline"
        data-bs-toggle="modal" data-bs-target="#sharedModal">
        Empty cart
      </button>
      <%= link_to 'Checkout', checkout_path %>
    </section>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% cart.line_items.order(:created_at).each do |item| %>
      <tr class="<% if @new_item&.id == item.id %>added<% end %>">
        <td>
          <%= link_to "#{item.product.name}", product_url(item.product) %>
        </td>
        <td><%= price_format(item.price) %></td>
        <td> x <%= item.quantity %></td>
        <td>
          <% if @ordering %>
            <%= button_to 'remove', line_item_path(item), method: :delete,
              class: 'btn btn-sm border-0 text-decoration-underline',
              params: { ordering: true } %>
            <% else %>
            <%= button_to 'remove', line_item_path(item), method: :delete,
              class: 'btn btn-sm btn-dark border-0' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= content_for :modal_body do %>
    <% if !@ordering %>
      <h5> Are you sure you don't just want to remove stuff? </h5>
      <div class="d-flex justify-content-around">
        <%= button_to 'Empty my cart', cart_path(@current_cart),
          method: :delete, form: { data: { 'modal-target': 'submitForm' } } %>
        <button data-bs-dismiss="modal">Close</button>
      </div>
      <p class="d-none text-danger text-center fw-bolder mb-0 pb-0 mt-2"
      data-modal-target="errorMessage">Failed to empty the cart...</p>
    <% else %>
      <h5 class='text-center mb-4'> Last chance to back out... </h5>
      <div class="d-flex justify-content-around">
        <%= button_to 'Confirm order', { action: "create" },
        form: { data: { 'modal-target': 'submitForm' } } %>
        <button data-bs-dismiss="modal">Take me back!</button>
      </div>
      <p class="d-none text-danger text-center fw-bolder mb-0 pb-0 mt-2"
      data-modal-target="errorMessage">Failed to confirm your order...</p>
    <% end %>
  <% end %>
</details>
