<%= render 'shared/alert' %>

<section class="col-md-6 mx-auto mt-4 p-2 border border-dark border-3 shadow-lg rounded">
  <h1 class="text-center">Your orders</h1>
  <div class="table-responsive">
    <table id='orders-table' class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <% orders.each do |order| %>
          <tr id="order_<%= order.id %>">
            <td><%= link_to "Order##{order.id}", order_path(order) %></td>
            <td><%= formatted_time(order.created_at) %></td>
            <td><%= order.status %></td>
            <td><%= price_format(order.total_cost) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
