<%= content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<h1 class="mx-auto mt-2 text-center">
  Checkout
</h1>

<article class="col-md-6 mx-auto shadow p-3">
  <div class="d-flex align-items-end justify-content-around mb-2">
    <h2 class="pb-0 mb-0"> Order summary </h2>
    <%= link_to 'Back to the store', store_path %>
  </div>

  <section data-cart-opened="true">
    <%= render 'shared/cart', cart: cart %>
  </section>

  <section class="row">
    <h2 class="mt-3"> Payment </h2>

    <%= form_with(model: @order, url: orders_path,id: 'checkout-form') do |form| %>
      <div class='input-group'>
        <%= form.label 'Payment method', class: "input-group-text" %>
        <%= form.select :pay_type, Order.pay_types.map { |k, _| [k, k] },
          {}, { class: "form-select", required: true} %>
      </div>

      <fieldset class='mt-4 mb-2 px-3 py-2'>
        <legend class='fs-4'>
          Prepopulated with
          <span class='fw-bolder'>
            <%= link_to 'your data', edit_user_registration_path, class: 'fw-bolder', target: '_blank' %>
          </span>
        </legend>
        <div class='mt-3'>
          <%= form.label 'Phone number (optional)', class: "form-label" %>
          <%= form.text_field :phone_number, class: "form-control w-50", value: current_user.phone_number %>
        </div>

        <div class='mt-3'>
          <%= form.label :address, class: "form-label" %>
          <%= form.text_area :address, class: "form-control", value: current_user.address, required: true %>
        </div>
      </fieldset>

      <button
        type="button" data-bs-toggle="modal" class="btn btn-dark mt-0 fs-4"
        data-bs-target="#sharedModal" style="max-width: min-content;">
        Pay
      </button>
    <% end %>

    <%= content_for :modal_body do %>
      <h5 class='text-center mb-4'> Last chance to back out... </h5>
      <div class="d-flex justify-content-around">
        <button type='submit' form='checkout-form' class='btn btn-success'>Confirm order</button>
        <button data-bs-dismiss="modal" class='btn btn-dark'>Take me back!</button>
      </div>
      <p class="d-none text-danger text-center fw-bolder mb-0 pb-0 mt-2"
        data-modal-target="errorMessage">Failed to confirm your order...</p>
    <% end %>

  </section>
</article>

