<%= form_with(model: product) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= field_error(product, :name) %>
  </div>

  <div class="field">
    <%= form.label :categories %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
    <%= field_error(product, :price) %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
    <%= field_error(product, :location) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
