<%= form_with(model: product, url: url, method: method,
  data: {controller: "direct-upload"}, id: "product-form") do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <%= field_error(product, :name) %>
  </div>

  <div class="mb-3">
    <%= form.label :images, class: "form-label" %>
    <%= form.file_field :images, class: "form-control",
      multiple: true, direct_upload: true, data: {'direct-upload-target': 'fileField'} %>
  </div>

  <div class="mb-3">
    <%= form.label "Categories:", class: "form-label" %>
    <%= form.collection_select :category_ids, Category.all, :id, :name, {include_blank: true}, multiple: true, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, class: "form-control" %>
    <%= field_error(product, :price) %>
  </div>

  <div class="mb-3">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, class: "form-control" %>
    <%= field_error(product, :location) %>
  </div>

  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>
