<article id="product_<%= product.id %>"
  class="product col-5 col-sm-4 col-lg-3 p-2 rounded m-2 mt-3 shadow<%if @added %> added<% end %>">

  <%= link_to sellers_product_path(product) do %>
    <% if product.images.attached? %>
      <%= image_tag product.images.first, class: "card-img-top" %>
    <% else %>
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpvsmt99345.i.lithium.com%2Ft5%2Fimage%2Fserverpage%2Fimage-id%2F10546i3DAC5A5993C8BC8C%3Fv%3D1.0&f=1&nofb=1" alt="no image available image" class="card-img-top">
    <% end %>
  <% end %>

  <ul class="list-group mt-auto pt-2">
    <li class="list-group-item border-0 pt-1 text-break">
      <%= link_to "#{product.name}", sellers_product_path(product), class: 'fs-3 fw-bolder' %>
    </li>
    <li class="list-group-item border-0 pt-1">
      <%= number_to_currency(product.price, unit: "₱", precision: 2) %>
    </li>
    <li class="list-group-item border-0 pt-1">
      Location: <%= product.location %>
    </li>
  </ul>
</article>
