<div class="row align-items-end justify-content-around mb-4">
  <h1 class="pb-0 mb-0 col-lg-8"><%= @product.name %> in detail </h1>
  <%= link_to "Edit #{@product.name}", edit_sellers_product_path(@product), class: "mt-2 col-lg-4" %>
</div>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <% if @product.images.attached? %>
        <%= render 'shared/carousel', images: @product.images %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">
          <span class="fw-bolder">
            Was on the market since <%= formatted_time(product.created_at) %>
          </span>
          <ul>
            <li> Location:
              <span class="fw-bolder"><%= product.location %></span>
            </li>
            <li> Price:
              <span class="fw-bolder"> <%= product.price %> </span>
              </li>
            <li> Total sold:
              <span class="fw-bolder"> <%= product.sold_count %> </span>
            </li>
            <li> How much you made from this:
              <span class="fw-bolder"> <%= price_format(product.total_revenue) %> </span>
            </li>
          </ul>
        </p>

        <p class="card-text">
          <%= button_to 'Delete this product', sellers_product_path(product),
            method: :delete, class: "btn btn-sm btn-dark mb-2", data: {confirm: "Are you sure?"} %>
          <small><em>
            If this product fails to be deleted, it means people must have this
            in their cart or order(s). To remove this product from the market just
            mark it as<span class="fw-bolder"> "unavailable".</span>
          <em></small>
        </p>

      </div>
    </div>
  </div>
</div>
