<article id="product_<%= product.id %>" data-controller="addable" data-addable-added-class="added"
  data-addable-failed-class="added-failed"
  class="card col-sm-4 col-lg-3 p-3 rounded m-3 shadow-sm<%if @added %> added<% end %>">

  <%= link_to product_path(product) do %>
    <div class="row">
      <% if product.images.attached? %>
        <%= image_tag product.images.first %>
      <% else %>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpvsmt99345.i.lithium.com%2Ft5%2Fimage%2Fserverpage%2Fimage-id%2F10546i3DAC5A5993C8BC8C%3Fv%3D1.0&f=1&nofb=1" alt="no image available image">
      <% end %>
    </div>
  <% end %>

  <div class="card-body">
    <%= link_to product_path(product) do %>
      <h5 class="card-title"><%= product.name %></h5>
    <% end %>
  </div>

  <ul class="list-group">
    <li class="list-group-item border-0 pt-1">
      <%= number_to_currency(product.price, unit: "₱", precision: 2) %>
    </li>
    <li class="list-group-item border-0 pt-1">
      Location: <%= product.location %>
    </li>
    <li class="list-group-item border-0 pt-1">
      <%= button_to 'add to cart', line_items_path, class: "btn btn-sm btn-add-to-cart fw-bolder",
        params: { product_id: product.id }, form: { 'data-addable-target': 'addButton' } %>
    </li>
  </ul>
</article>
