<article id="product_<%= product.id %>" data-controller="addable" data-addable-added-class="added"
  data-addable-failed-class="added-failed"
  class="product card col-5 col-sm-4 col-lg-3 p-2 rounded m-2 mt-3 shadow-sm<%if @added %> added<% end %>">

  <%= link_to product_path(product), target: '_top' do %>
    <% if product.images.attached? %>
      <%= image_tag product.images.first, class: "card-img-top" %>
    <% else %>
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpvsmt99345.i.lithium.com%2Ft5%2Fimage%2Fserverpage%2Fimage-id%2F10546i3DAC5A5993C8BC8C%3Fv%3D1.0&f=1&nofb=1" alt="no image available image" class="card-img-top">
    <% end %>
  <% end %>

  <ul class="list-group mt-auto pt-2">
    <li class="list-group-item border-0 pt-1 text-break">
      <%= link_to "#{product.name}", product_path(product), class: 'fs-5 fw-bolder', target: "_top" %>
    </li>
    <li class="list-group-item border-0 pt-1">
      <%= number_to_currency(product.price, unit: "₱", precision: 2) %>
    </li>
    <li class="list-group-item border-0 pt-1">
      Location: <%= product.location %>
    </li>

    <% if product.available %>
      <li class="list-group-item border-0 pt-1 d-flex justify-content-center">
        <%= button_to 'add to cart',
          line_items_path,
          class: "btn btn-sm btn-add-to-cart fw-bolder",
          params: { product_id: product.id },
          form: {
            data: {
              action: 'turbo:submit-start->addable#progress turbo:submit-end->addable#add'
            },
            class: 'd-flex align-items-end'
          },
          data: { 'addable-target': 'addButton' } %>
      </li>
    <% else %>
      <li class="list-group-item border-0 pt-1 d-flex justify-content-center">
        <span class="fw-bolder text-danger">Not available anymore</span>
      </li>
    <% end %>

  </ul>
</article>
