<section id="select-search" class="col-md-9 mx-auto p-2 d-flex flex-column justify-content-center"
  data-controller="search">
  <%= form_with(url: search_path, method: :get, id: "search-form", class: "d-flex justify-content-center align-items-end",
    data: { action: 'submit->search#busy'}) do |form| %>
    <div class="w-50">
      <%= form.label "Product name", class: "form-label" %>
      <%= form.search_field :name, class: "form-control", value: params[:name] %>
    </div>
    <div class="w-25 ms-2">
      <%= form.label :category, class: "form-label fw-bolder fs-4" %>
      <%= form.collection_select :category, Category.all, :name, :capitalized_name,
        {include_blank: true, selected: params[:category]}, class: "form-select" %>
    </div>

    <div class="ms-2 d-flex">
      <%= form.submit 'Search' , class: "btn btn-dark", name: nil %>
      <%= link_to 'Clear', search_path, class: "btn btn-dark ms-2",
        data: { action: 'click->search#busy' } if search_terms? %>
    </div>
  <% end %>
  <% if search_terms? %>
    <p class="ms-2 mt-2"> Search results for <%= search_results_for %> </p>
  <% end %>

  <div class="spinner-grow mx-auto mt-4 d-none" role="status" data-search-target="spinner">
    <span class="visually-hidden"> Adding... </span>
  </div>
</section>
