<%= content_for :title do %> | Products <% end %>
<% if notice = flash[:notice] %>
  <div class="small alert alert-warning alert-dismissible fade show mt-3" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="row justify-content-center h-100">
  <section data-cart-opened="true"
    class="scrollable col-md-3 p-0 sticky-top d-flex">
    <%= render 'shared/cart', cart: @current_cart %>
  </section>

  <section id="scrollable" class="col-md-9 m-0 h-100">
    <div class="col-md-6 mx-auto mt-3">
      <%= form_with(url: products_path, method: :get) do |form| %>
        <div class="d-flex align-items-end">
          <%= form.collection_select :category, Category.all, :name, :capitalized_name,
            {include_blank: true, selected: params[:category]}, class: "form-select" %>
          <%= form.submit 'Filter' , class: "btn btn-dark ms-2", name: nil %>
          <% if params[:category].present? %>
            <%= link_to 'Clear', products_path, class: "btn btn-dark ms-2" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row justify-content-center">
      <% if products.present? %>
        <%= render products %>
      <% else %>
        <h5 class="mt-4 text-center"> <%= no_products_message %> </h5>
      <% end %>
    </div>
  </section>
</div>
