<%= content_for :title do %> | <%= product.name %><% end %>

<section data-cart-opened="false"
  class="scrollable col-md-6 p-0 sticky-top d-flex mx-auto my-4">
  <%= render 'shared/cart', cart: @current_cart %>
</section>

<div class="card p-4 mb-3" data-controller="addable" data-addable-added-class="added"
  data-addable-failed-class="added-failed">

  <div class="row g-0">
    <div class="col-md-4">
      <% if @product.images.attached? %>
        <%= render 'shared/carousel', images: @product.images %>
      <% else %>
        <div class='row'>
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpvsmt99345.i.lithium.com%2Ft5%2Fimage%2Fserverpage%2Fimage-id%2F10546i3DAC5A5993C8BC8C%3Fv%3D1.0&f=1&nofb=1" alt="no image available image">
        </div>
      <% end %>
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">
          <ul class="list-group">
            <li class="list-group-item"> Location:
              <span class="fw-bolder"><%= product.location %></span>
            </li>
            <li class="list-group-item"> Price:
              <span class="fw-bolder"> <%= price_format(product.price) %> </span>
              </li>
            <li class="list-group-item">
              <span class="fw-bolder"> Categories: &nbsp;</span>
              <% product.categories.each do |category| %>
                <button class="btn btn-sm btn-secondary"> <%= category.name %> </button>
              <% end %>
            </li>
          </ul>
        </p>

        <p class="card-text">
          <%= button_to 'add to cart',
            line_items_path,
            class: "btn btn-sm btn-add-to-cart fw-bolder",
            params: { product_id: product.id },
            form: {
              data: {
                action: 'turbo:submit-start->addable#progress turbo:submit-end->addable#add'
              },
              class: 'd-flex align-items-end'
            },
            data: { 'addable-target': 'addButton' } %>
        </p>
        <%= link_to 'Back to products', products_path %>
      </div>
    </div>
  </div>

</div>


