<!DOCTYPE html>
<html>
  <head>
    <title>SupplyIt <%= yield :title %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <main class='container-fluid'>
      <%= yield %>
    </main>
  </body>
</html>
