<section class='col-sm-6 col-lg-8 mx-auto p-4 shadow mb-5 bg-body rounded mt-4'>

  <article class="bg-secondary text-white p-2 mb-4">
    <section class="row align-items-center">
      <h2 class="col-lg-8"> Create your SupplyIt Account! </h2>
      <%= link_to 'Already a member? Log in', new_user_session_path, class: 'col-lg-4 text-white' %>
    </section>
  </article>

  <%= form_for(resource, html: { class: "row", data: {turbo: "false"} }, as: resource_name,
    url: registration_path(resource_name)) do |f| %>

    <div class='col-lg-6'>
      <div class="mb-3">
        <%= f.label :phone_number, class: "form-label" %>
        <%= f.number_field :phone_number, class: "form-control" %>
        <%= field_error(resource, :phone_number) %>
      </div>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <%= field_error(resource, :email) %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <%= field_error(resource, :password) %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        <%= field_error(resource, :password_confirmation) %>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="mb-3">
        <%= f.label :full_name, class: "form-label" %>
        <%= f.text_field :full_name, class: "form-control" %>
        <%= field_error(resource, :full_name) %>
      </div>

      <div class="mb-3">
        <%= f.label :birthday, class: "form-label" %>
        <%= f.date_field :birthday, class: "form-control" %>
        <%= field_error(resource, :birthday) %>
      </div>

      <div class="mb-3">
        <%= f.label :address, class: "form-label" %>
        <%= f.text_area :address, class: "form-control" %>
        <%= field_error(resource, :address) %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    </div>
  <% end %>

</section>
